body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #EFF3F5;
  }

nav ul{
  list-style: none;
}

nav a{
  text-decoration: none;
  color: #EFF3F5;
  font-size: 20px;
}

nav ul li{
  display: inline-block;
  padding: 10px;
  
}

ul{
  list-style: none;
}

nav a.is-active{
  font-weight: bold;
  pointer-events: none;
  background-color: rgb(58, 208, 222);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  padding-top: 0;
}